.ant-layout-content{
    padding: 50px 50px;
  }
  
  .ant-radio-checked .ant-radio-inner{
  border-color: red !important ;
  border-radius: 25px;
  }
  
  .ant-radio-checked .ant-radio-inner:after{
  background-color: red;
  border-radius: 25px;
  }
  .ant-radio:hover .ant-radio-inner {
  border-radius: 25px;
  border: 5px solid red;
  }
  
  .ant-radio-checked .ant-radio-inner:focus{
  border-color: red;
  border-radius: 25px;
  }
  .WSHead{
    height: 600px;
    color: white;
    text-align: center;
    background-image: linear-gradient(to right, rgba(169,169,169,0.4), rgba(169,169,169,0.5)),url("https://www.mercedes-benz.com.vn/en/passengercars/content-pool/marketing-pool/being-an-owner/stage-moduls/service-booking/_jcr_content/par/stageelement_9724.MQ4.0.stage.20210408122243.jpeg");
    background-repeat: no-repeat;
    background-size: contain;
  }