.SideMenu{
    position:fixed;
    top: 33%;
   left: 95%;
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;

}

.SideItem {   
    text-align: left;
    font-size:15px;
    cursor: pointer;
    /*point icon*/
    display: inline-block;
    height: 30px;
    width: 30px;
    overflow: hidden;
    background: black;
    transition: all 0.4s ease 0s;
    margin: 3px;
    transform: translateX(30px);
}
.SideItem:hover{
    transform: translateX(-160px);
    width:220px
}